{% extends "base.html" %}
{% block content %}
<div class="contenedorcard">
    <div class="demo-card-wide mdl-card carta">
            <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text titulo">Clase</h2>
            </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <div class="mdl-textfield mdl-js-textfield">
        <div class="mdl-textfield__input">
            <b>{{ form.date.label }}</b>
            {{ form.date(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.topics.label }}</b>
            {{ form.topics(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.topicsNext.label }}</b>
            {{ form.topicsNext(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.comments.label }}</b>
            {{ form.comments(class="rectangulos") }}
        </div>
    </div>
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-modal" type="submit" value="Enviar">
    </form>
</div>
</div>
{% endblock %}