{% extends "base.html" %}

{% block content %}
<div class="contenedor__detallesgral">
<ul class="uldetails">
    <li>
<div class="contenedor-detalles">
    <div class="detalles__titulo"> {{ training.name }}</div>
    <div class="detalles__desc">
        <p>Descripción</p>
        {{ training.description }}
    </div>
    {% if training.classes.first() != None %}
    <div class="detalles__class">
        <p>Clases</p>
        <ul>
        {% for training_class in training.classes %}
        <li>
        <a href="{{ url_for('class_details', training_id=training.id, class_num=training_class.number) }}">
            {{ training_class.topics }}</a>
        </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if training.trainer != None %}
    <div class="detalles__trainer">
    <p>Capacitador</p>
    <ul>
    <li><a href="{{ url_for('user_details', id=training.trainer.id) }}">{{ training.trainer.username }}</a></li>
    </ul>
    </div>
    {% endif %}
    {% if request.path==url_for('select_trainer', id=training.id) %}
    {%if training.trainer == None%}
    <div class="detalles__trainer">
    <p>Capacitador</p>
    <ul>
    <li>
    {% block assign_trainer %}
    {% endblock %}
    </li>
    </ul>
    </div>
    {% endif %}
    {% endif %}
    <div class="detalles__comments">
    <p>Comentarios:</p>
    {{ training.comments }}
    </div>
    <div class="detalles__comments">
        <p>Fecha Inicio:</p>
        {{ training.start }}
    </div>
    <div class="detalles__comments">
        <p>Fecha Fin:</p>
        {{ training.end }}
    </div>
    <div class="detalles__comments">
        {% if training.department ==1 %}
        <p>Sector:</p> DDPyT
        {% endif %}
        {% if training.department == 2 %}
        <p>Sector:</p> DPyPP
        {% endif %}
        {%if training.department == 3 %}
        <p>Sector:</p> DHyA
        {% endif %}
        {%if training.department == 4 %}
        <p>Sector:</p> DeSaCo
        {% endif %}
    </div>
    {% if request.path==url_for('select_students', id=training.id) %}
    <div class="detalles__comments">
         {% block assign_students %}
         {% endblock %}
    </div>
    {% endif %}
</div>
</li>
<br>
{% if training.students|length %}
<li>
<table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table tabla-detalles">
    <tbody>
        <tr>
            <th style="text-align: left;">Legajo</th>
            <th style="text-align: left;">Nombre</th>
            <th style="text-align: left;">Apellido</th>
            <th style="text-align: left;">Email</th>
            <th style="text-align: left;">Carrera</th>
        </tr>
        {% for student in training.students %}
        <tr>
            <td style="text-align: left;">{{ student.file }} </td>
            <td style="text-align: left;">{{ student.name }}</td>
            <td style="text-align: left;">{{ student.surname }} </td>
            <td style="text-align: left;">{{ student.email }}</td>
            <td style="text-align: left;">{{ student.degree }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</li>
</ul>
</div>
{% endif %}
{% endblock %}