{% extends "base.html" %}
{% block content %}
<div class="contenedorcard">
    <div class="demo-card-wide mdl-card carta" >
            <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text titulo">Estudiante</h2>
            </div>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
    <div class="mdl-textfield mdl-js-textfield">
        <div class="mdl-textfield__input">
                <b>{{ form.file.label }}</b>
                {{ form.file(class="rectangulos") }}
        </div>

        <div class="mdl-textfield__input">
            <b>{{ form.email.label }}</b>
            {{ form.email(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.surname.label }}</b>
            {{ form.surname(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.name.label }}</b>
            {{ form.name(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.degree.label }}</b>
            {{ form.degree(class="rectangulos") }}
        </div class="mdl-textfield__input">
    </div>
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="Enviar">
    </form>
</div>
</div>
{% endblock %}