{% extends "base.html" %}

{% block content %}
<div class="conteiner-tabla">
{% if students|length %}
<table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">
    <thead>
        <th>Legajo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Carrera</th>
        <th>Acciones</th>
    </thead>
    {% for student in students %}
        <tr>
            <td>{{ student.file }} </td>
            <td>{{ student.name }} </td>
            <td>{{ student.surname }} </td>
            <td>{{ student.email }} </td>
            <td>{{ student.degree }} </td>
            <td style="text-align: left;">
                {%if session ['role'] == 2 %}
                <a href="{{ url_for('student_edit', file=student.file) }}">Editar</a>
                | <a href="#" data-toggle="modal" data-target='#confirm{{student.file}}'>Eliminar</a>
                {%else%}
                -
                {%endif%}
            </td>
        </tr>
        <div class="modal fade" id="confirm{{student.file}}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Desea eliminar alumno?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-footer">
                                <a class="confirm" href="{{ url_for('student_delete', file=student.file) }}">SI</a>
                                <a class="cancel" href="javascript.void(0)" data-dismiss="modal" aria-label="Close">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tbody>
    {% endfor %}
</table>
{% endif %}
</div>
{%if session ['role'] == 2 %}
<a class="button" href="{{ url_for('student_create') }}" >Agregar alumno</a>
{% endif %}

{% endblock %}