{% extends "base.html" %}
{% block content %}
    <table id="tabla-capacitaciones" class="mdl-data-table mdl-js-data-table">
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Capacitaciones</th>
            <th>Acciones</th>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.username }} </td>
                <td>{{ user.email }}</td>
                <td><a href="{{ url_for('trainings_user', username=user.username) }}">Capacitaciones</a></td>
                <td>
                    <a href="{{ url_for('user_details', id=user.id) }}">Detalle</a>{%if session ['role'] == 2 %} |
                    <a href="{{ url_for('user_edit', id=user.id) }}">Editar</a> 
                    | <a href="#" data-toggle="modal" data-target='#confirm{{user.id}}'>Eliminar</a>
                    {%endif%}
                </td>
            </tr>
            <div class="modal fade" id="confirm{{user.id}}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Desea eliminar usuario?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                </div>
                                <div class="modal-footer">
                                    <a class="confirm" href="{{ url_for('user_delete', id=user.id) }}">SI</a>
                                    <a class="cancel" href="javascript.void(0)" data-dismiss="modal" aria-label="Close">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
        {% endfor %}
    </table>
    {%if session ['role'] == 2 %}
    <a class="button" href="{{ url_for('user_create') }}" >Agregar Usuario</a>
    {%endif%}
{% endblock %}