
{% extends "base.html" %}

{% block content %}
<div class="contenedorcard">
    <div class="demo-card-wide mdl-card carta" >
            <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text titulo">Usuario</h2>
            </div>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="mdl-textfield mdl-js-textfield">
        <div class="mdl-textfield__input">
            <b>{{ form.username.label }}</b>
            {{ form.username(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.email.label }}</b>
            {{ form.email(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.password.label }}</b>
            {{ form.password(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.confirm.label }}</b>
            {{ form.confirm(class="rectangulos") }}
        </div>
        <div class="mdl-textfield__input">
            <b>{{ form.role.label }}</b>
            {{form.role(class="rectangulos center")}}
        </div>
        </div>
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="Enviar">
    </form>
    </div>
</div>

{% endblock %}